td, th {
    vertical-align: middle !important;
}
.left, .right {
    float:left;
    height:100vh;
}

.left {
    background: #337ab7;
    display: inline-block;
    white-space: nowrap;
    width: 50px;
    transition: width 1s ;
}

.right {
    background: #fff;
    width: 350px;
    transition: width 1s;
    border-style:solid;
    border-color:#ccc;
    border-width:1px;
}

.left:hover {
    width: 250px;
}

.item:hover {
    background-color:#ccc;
}
.item:active {
    background-color:#ccc;
}

.left .glyphicon {
    margin:15px;
    width:20px;
    color:#fff;
}

.right .glyphicon {
    color:#a9a9a9;
}
span.glyphicon.glyphicon-refresh{
    font-size:17px;
    vertical-align: middle !important;
}

.item {
    height:50px;
    overflow:hidden;
    color:#fff;
}
.title {
    background-color:#eee;
    border-style:solid;
    border-color:#ccc;
    border-width:1px;
    box-sizing: border-box;
}
.search:hover {
    border-color:#4aa9fb;
    border-width:1px;
}
.search {
    padding:3px 8px 3px !important;
}
input[type=search] {
    padding: 10px 0px 10px;
    border: 0px solid #fff;
    background: #eee;
    -webkit-appearance: none;
    width:90%;
    float:none;
}
input[type=search]:focus {
    outline:none;
}
.type{
    height: 47px;;
}
.date{
    background-color:#f7f7f7
}
.docdate {
    vertical-align:bottom !important;
}
.distr {
    margin: 0 0 5px;
    font-size: 12px;
}
.ndoc {
    margin: 0 0 5px;
}
.storage {
    margin: 0;
    color: #aaa !important;
    font-size: 12px;
}

.noStyle{
    text-decoration: none !important;
    color: #fff !important;
}

.right{
    border-style: none !important;
    background: none !important;
    float: right;
    width: 670px !important;
    height: auto;
}
.menu{
    text-decoration: none !important;
}

.menu ul li a{
    text-decoration: none !important;
}

ul li a:hover{
    text-decoration: none !important;
    color: #ffffff;
}

nav ul a {
    font-size: 15px !important;
}

.top10 { margin-top: 10px;}  .top60 { margin-top: 60px;}
.top20 { margin-top: 20px;}  .top70 { margin-top: 70px;}
.top30 { margin-top: 30px;}  .top80 { margin-top: 80px;}
.top40 { margin-top: 40px;}  .top90 { margin-top: 90px;}
.top50 { margin-top: 50px;}  .top100 { margin-top: 100px;}

.padding10{padding: 10px;}
.padding20{padding: 20px;}
.padding30{padding: 30px;}
.padding40{padding: 40px;}
.padding50{padding: 50px;}

.border-groove{border-style: groove;}

.titleApp{
    font-weight: bold;
    text-align: center;
    background-color: #eee;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    box-sizing: border-box;
}

.img_ico{
    width: auto;
    height: 303px;
    justify-content: center;
}

.paper_ico{

    background-image: url("../img/ico-paper.png");
    height: 300px;
    background-repeat: no-repeat;
    transition: background-image 1s;
    width: 100px;
    float: left;
    margin-right: 55px;
    margin-left: 75px;

}

.paper_ico:hover{

    background-image: url("../img/ico-paper-top.png");

}

.plastic_ico{

    background-image: url("../img/ico-plastic.png");
    height: 300px;
    background-repeat: no-repeat;
    transition: background-image 1s;
    width: 100px;
    float: left;
    margin-right: 55px;
    margin-left: 55px;


}

.plastic_ico:hover{

    background-image: url("../img/ico-plastic-top.png");

}

.metal_ico{

    background-image: url("../img/ico-metal.png");
    height: 300px;
    background-repeat: no-repeat;
    transition: background-image 1s;
    width: 100px;
    float: left;
    margin-right: 55px;
    margin-left: 55px;

}

.metal_ico:hover{

    background-image: url("../img/ico-metal-top.png");

}

.glass_ico{

    background-image: url("../img/ico-glass.png");
    height: 300px;
    background-repeat: no-repeat;
    transition: background-image 1s;
    width: 100px;
    float: left;
    margin-right: 55px;
    margin-left: 55px;
}

.glass_ico:hover{

    background-image: url("../img/ico-glass-top.png");

}

.organic_ico{

    background-image: url("../img/ico-organic.png");
    height: 300px;
    background-repeat: no-repeat;
    transition: background-image 1s;
    width: 100px;
    float: left;
    margin-right: 30px;
    margin-left: 55px;

}

.organic_ico:hover{

    background-image: url("../img/ico-organic-top.png");

}

.description{
    width: 350px !important;
    text-align: justify !important;
    height: 50px !important;
}

.height50{height: 50px};

.negrito{

    font-weight: bold !important;

}

.iconSituation{width: 30px; height: 30px;}

